<p-toast></p-toast>
<div class="container">
  <main>
    <section class="content">
      <div class="input-task">
        <div class="p-inputgroup">
          <input
            pInputText
            type="text"
            placeholder="Task description"
            [(ngModel)]="taskDescription"
            (keydown)="onKeydown($event)"
          />
          <button
            class="add-task-button"
            pButton
            type="button"
            icon="pi pi-plus"
            pTooltip="Create Task"
            tooltipPosition="bottom"
            (click)="addTask()"
          ></button>
        </div>
      </div>

      <h2 *ngIf="list.length > 0">Task list</h2>
      <div class="list">
        <div *ngFor="let task of list">
          <app-todo
            [task]="task"
            (removeTask)="removeTask($event)"
            (completeTask)="onCompleteTask()"
          ></app-todo>
        </div>
      </div>
    </section>
  </main>
  <footer>Copyright &copy; 2023 - Developed by DoG</footer>
</div>
